<!--顶部-->
<div class="layout bg-main bg-inverse fixed" style="z-index: 10000;">
    <div class="container-layout">
        <div class="navbar">
            <div class="navbar-head">
                <button class="button icon-navicon" data-target="#navbar1">
                </button>
                <a href="/">
                    <img src="http://www.pintuer.com/images/30-white.png" />
                    <strong class="text-big"><%= thissite.title %></strong></a>
            </div>
            <div class="navbar-body nav-navicon" id="navbar1">
                <ul class="nav nav-inline nav-menu">
                    <li><a class="icon-cog" href="#">设置<span class="arrow"></span></a>
                        <ul class="drop-menu">
                            <li><a href="#">全局设置</a></li>
                            <li><a href="#">系统设置</a></li>
                            <li><a href="#">会员设置</a></li>
                            <li><a href="#">积分设置</a></li>
                            <li><a href="#">权限设置</a></li>
                            <li><a href="#">插件设置</a></li>
                            <li><a href="javascript:;">皮肤设置<span class="arrow"></span></a>
                                <ul>
                                    <li><a href="#">墨绿</a></li>
                                    <li><a href="#">天蓝</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="icon-home" href="index.ejs">导航<span class="arrow"></span></a>
                        <ul class="drop-menu">
                            <li><a class="icon-th-list" href="#">栏目</a></li>
                            <li><a class="icon-file-text" href="#">内容<span class="arrow"></span></a>
                                <ul>
                                    <li><a href="#">新闻</a></li>
                                    <li><a href="#">留言</a></li>
                                    <li><a href="#">反馈</a></li>
                                </ul>
                            </li>
                            <li><a class="icon-user" href="#">会员</a></li>
                            <li><a class="icon-shopping-cart" href="#">订单</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-inline nav-menu navbar-right">
                    <li>
                        <a class="bg-main" href="javascript:;">
                            <spn><img src="/upload/avatar/<%= user.avatar %>" width="28" class="radius-circle"></spn>
                            <%= user.admin_name %>
                            <span class="downward"></span>
                        </a>
                        <ul class="drop-menu">
                            <li><a class="icon-user" target="_blank" href="javascript:;">修改资料</a></li>
                            <li><a class="icon-key" target="_blank" href="javascript:;">修改密码</a></li>
                        </ul>
                    </li>
                    <li><a class="bg-green" href="javascript:;"><span class="icon-envelope"></span>&nbsp;<span class="badge bg-blue">5+</span><span class="downward"></span></a>
                        <ul class="drop-menu">
                            <li><a class="text-yellow-light" target="_blank" href="javascript:;"><span class="icon-envelope"></span>您有16封邮件</a></li>
                            <li><a class="bg-gray" target="_blank" href="javascript:;"><span class="icon-envelope"></span>查阅更多...</a></li>
                        </ul>
                    </li>
                    <li><a class="bg-blue" href="javascript:;"><span class="icon-bell-o"></span>&nbsp;<span class="badge bg-green">99+</span><span class="downward"></span></a>
                        <ul class="drop-menu">
                            <li><a class="text-yellow-light active" target="_blank" href="javascript:;"><span class="icon-comment"></span>您有26条未读消息</a></li>
                            <li><a class="text-yellow-light active" target="_blank" href="javascript:;"><span class="icon-comments"></span>您有13条回复消息</a></li>
                            <li><a class="bg-gray" target="_blank" href="javascript:;"><span class="icon-envelope"></span>查看更多...</a></li>
                        </ul>
                    </li>
                    <li><a class="bg-yellow" href="/logout"><span class="icon-sign-out"></span>注销</a></li>
                </ul>
                <div class="navbar-form navbar-left">
                    <form>
                        <input type="text" class="input input-auto" name="keywords" size="15" placeholder="功能名称">
                        <input type="submit" name="search" value="搜索" class="button bg">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>