<div class="xm9">
    <% if (success) { %>
    <div class="alert alert-yellow" id="info">
        <span class="close"></span>
        <%= success %>
    </div>
    <% } %>
    <% if (error) { %>
        <div class="alert alert-yellow" id="info">
            <span class="close"></span>
        <%= error %>
        </div>
    <% } %>
</div>