<%- include('header') %>

<div class="xm9">
        <div class="tab-body">
            <br />
            <div class="tab-panel active" id="tab-set">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="label">
                                <label for="name">登录名称</label>
                            </div>
                            <div class="field">
                                <input class="input" name='name' cols="50" placeholder="请填写登录名称" data-validate="required:请填写登录名称"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label for="admin_name">账号名称</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="admin_name" name="admin_name" size="50" placeholder="账号名称" data-validate="required:请填写账号名称" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label for="password">密码</label>
                            </div>
                            <div class="field">
                                <input type="password" class="input" id="password" name="password" size="50" placeholder="******" data-validate="required:请填写密码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label for="repassword">重复密码</label>
                            </div>
                            <div class="field">
                                <input type="password" class="input" id="repassword" name="repassword" size="50" placeholder="******" data-validate="required:请再次填写密码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label for="avatar">头像</label>
                            </div>
                            <div class="field">
                                <a class="button input-file" href="javascript:void(0);">+ 浏览文件<input size="100" name="avatar" type="file" name="logo" data-validate="required:请选择上传文件,regexp#.+.(jpg|jpeg|png|gif)$:只能上传jpg|gif|png格式文件" /></a>
                            </div>
                        </div>
                        <div class="form-button">
                            <button class="button bg-main" type="submit">提交</button>
                        </div>
                    </form>
            </div>
        </div>
</div>

<%- include('footer') %>
