<%- include('header') %>

<div class="xm9">
    <div class="alert">
        <h4>拼图前端框架介绍</h4>
        <p class="text-gray padding-top">拼图是优秀的响应式前端CSS框架，国内前端框架先驱及领导者，自动适应手机、平板、电脑等设备，让前端开发像游戏般快乐、简单、灵活、便捷。</p>
        <a target="_blank" class="button bg-dot icon-code" href="pintuer4.zip"> 下载示例代码</a>
        <a target="_blank" class="button bg-main icon-download" href="http://www.pintuer.com/download/pintuer.zip"> 下载拼图框架</a>
        <a target="_blank" class="button border-main icon-file" href="http://www.pintuer.com/"> 拼图使用教程</a>
    </div>

    <div class="alert">
        <h4>拼图前端框架介绍</h4>
        <p class="text-gray padding-top">拼图是优秀的响应式前端CSS框架，国内前端框架先驱及领导者，自动适应手机、平板、电脑等设备，让前端开发像游戏般快乐、简单、灵活、便捷。</p>
        <a target="_blank" class="button bg-dot icon-code" href="pintuer4.zip"> 下载示例代码</a>
        <a target="_blank" class="button bg-main icon-download" href="http://www.pintuer.com/download/pintuer.zip"> 下载拼图框架</a>
        <a target="_blank" class="button border-main icon-file" href="http://www.pintuer.com/"> 拼图使用教程</a>
    </div>

    <div class="panel">
        <div class="panel-head"><strong>系统信息</strong></div>
        <table class="table">
            <tbody>
                <tr>
                    <th colspan="2">服务器信息</th>
                    <th colspan="2">系统信息</th>
                </tr>
                <tr>
                    <td width="110" align="right">操作系统：</td>
                    <td>Windows10</td>
                    <td width="90" align="right">系统开发：</td>
                    <td><a href="http://www.pintuer.com" target="_blank">拼图前端框架</a></td>
                </tr>
                <tr>
                    <td align="right">Web服务器：</td>
                    <td>Apache2.4.10</td>
                    <td align="right">主页：</td>
                    <td><a href="http://www.pintuer.com" target="_blank">http://www.pintuer.com</a></td>
                </tr>
                <tr>
                    <td align="right">程序语言：</td>
                    <td>PHP5.6.3</td>
                    <td align="right">演示：</td>
                    <td><a href="#" target="_blank">demo/</a></td>
                </tr>
                <tr>
                    <td align="right">数据库：</td>
                    <td>MySQL5.6.10</td>
                    <td align="right">联系：</td>
                    <td><a href="#" target="_blank">403886652</a> (点击添加)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include('footer.ejs') %>